{% extends 'base.html' %}
{% load static %}

{% block title %}
    Оплата замовлення
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main_for_phone.css' %}">
{% endblock %}

{% block content %}
    <div class="design-for-laptop hidden scroll-wrapper">
        <div class = "review-frame block">
            <div class = 'blur-bg'>
                <img src="{% static 'main/images/bg.png'%}" class = "bg-image-hair"alt="">
            </div>
            <div class = "review">
                <div class="review-hat">
                    <h1 class = "review-hat-title">Зв'яжімося - і підберемо твій колір</h1>
                    <h2 class = "review-hat-description">Залиш заявку або напиши мені напряму.<br>Відповім у найближчий час!</h2>
                </div>
                <div class = "contact-icons">
                    <a href="" class = "url-telegram url-icon">
                        <img class = "url-icon" src="{% static 'main/images/icons/telegram.svg' %}" alt="">
                    </a>
                    <a href="" class = "url-instagram url-icon">
                        <img class = "url-icon" src="{% static 'main/images/icons/instagram.svg' %}" alt="">
                    </a>
                    <a href="" class = "url-viber url-icon">
                        <img class = "url-icon" src="{% static 'main/images/icons/viber.svg' %}" alt="">
                    </a>
                </div>
                <form action="">
                <div class = "review-form">
                        {% for field in form %}
                            {% if field.field.widget.input_type == "file" %}
                                <label for="id_photo" class = "field-image">
                                    <img class = "icon-field" src="{% static 'main/images/icons/field.svg'%}" alt="">
                                    <h1 class = "title-field">Прикріпити фото</h1>
                                </label>    
                                <input type="file" id="id_photo"  accept="image/*" hidden>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </form>
                <div class = "buttons">
                    <button class = "button Apply-for-consultation first-button">
                        НАДІСЛАТИ
                    </button>
                    <button class = "button button-next"> 
                        <img class = "button-image" src="{% static 'main/images/buttons/button_next.svg' %}" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class = "blur-payload-bg hidden"></div>
        <div class = "modal-payload-frame hidden">
            <h1 class = "method-of-pay">Спосіб оплати</h1>
            <div class = "buttons-pay">
                <button class = "button-of-pay mono-button">
                    <img class = "image-of-button-of-pay"src="{% static 'main/images/buttons/mono.svg'%}" alt="">
                </button>
                <form method="POST" accept-charset="utf-8" target="_blank" action="https://www.liqpay.ua/api/3/checkout">
                    <input type="hidden" name="data" value="{{ liqpay_data}}" />
                    <input type="hidden" name="signature" value="{{ liqpay_signature}}"/>         
                    <button class = "button-of-pay">
                        <img class = "image-of-button-of-pay"src="{% static 'main/images/buttons/privat.svg'%}" alt="">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class = "design-for-phone hidden">
        <div class = "review-frame block block-scroll">
            <div class = "review">
                <div class="review-hat">
                    <h1 class = "review-hat-title">Зв'яжімося - <br>і підберемо твій колір</h1>
                    <h2 class = "review-hat-description">Залиш заявку або напиши мені напряму в <span class = "review-hat-span">instagram</span>.Відповім у найближчий час!</h2>
                    <div class = "contact-icons">
                        <a href="" class = "url-telegram url-icon">
                            <img class = "url-icon" src="{% static 'main/images/icons/phone_telegram.svg' %}" alt="">
                        </a>
                        <a href="" class = "url-instagram url-icon">
                            <img class = "url-icon" src="{% static 'main/images/icons/phone_instagram.svg' %}" alt="">
                        </a>
                        <a href="" class = "url-viber url-icon">
                            <img class = "url-icon" src="{% static 'main/images/icons/phone_viber.svg' %}" alt="">
                        </a>
                    </div>
                </div>
                <form action="">
                    <div class = "review-form">
                        {% for field in form %}
                        {% if field.field.widget.input_type == "file" %}
                        <label for="id_photo" class = "field-image">
                            <img class = "icon-field" src="{% static 'main/images/icons/field.svg'%}" alt="">
                            <h1 class = "title-field">Прикріпити фото</h1>
                        </label>    
                        <input type="file" id="id_photo"  accept="image/*" hidden>
                        {% else %}
                        {{ field }}
                        {% endif %}
                        {% endfor %}
                    </div>
                </form>
                <div class = "buttons">
                    <button class = "white-button">
                        НАДІСЛАТИ
                    </button>
                    <button class = "button button-next-image"> 
                        <img class = "button-image" src="{% static 'main/images/buttons/white_button.svg' %}" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class = "blur-payload-bg hidden"></div>
        <div class = "modal-payload-frame hidden">
            <h1 class = "method-of-pay">Спосіб оплати</h1>
            <div class = "buttons-pay">
                <button class = "button-of-pay mono-button">
                    <img class = "image-of-button-of-pay"src="{% static 'main/images/buttons/mono.svg'%}" alt="">
                </button>
                <form method="POST" accept-harset="utf-8" target="_blank" action="https://www.liqpay.ua/api/3/checkout">
                    <input type="hidden" name="data" value="{{ liqpay_data}}" />
                    <input type="hidden" name="signature" value="{{ liqpay_signature}}"/>         
                    <button class = "button-of-pay">
                        <img class = "image-of-button-of-pay"src="{% static 'main/images/buttons/privat.svg'%}" alt="">
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src = "{% static 'form/js/form.js'%}"></script>
    <script src = "{% static 'main/js/jquery-3.7.1.min.js'%}"></script>
    <script src = "{% static 'form/js/mono.js'%}"></script>
{% endblock %}