{% load static %}

<div class = "review-frame block">
    <div class = 'blur-bg'>
        <img src="{% static 'main/images/bg.png'%}" class = "bg-image-hair"alt="">
    </div>
    <div class = "review">
        <div class="review-hat">
            <h1 class = "review-hat-title">Зв'яжімося - і підберемо твій колір</h1>
            <h2 class = "review-hat-description">Залиш заявку або напиши мені напряму.<br>Відповім у найближчий час!</h2>
        </div>
        <div class = "contact-icons">
            <a href="https://web.telegram.org/k/#@hairnool" target="_blank" class = "url-telegram url-icon">
                <img class = "url-icon" src="{% static 'main/images/icons/telegram.svg' %}" alt="">
            </a>
            <a href="https://www.instagram.com/hairnool?igsh=MXhqejZwY3d1bWdjcw==" target="_blank" class = "url-instagram url-icon">
                <img class = "url-icon" src="{% static 'main/images/icons/instagram.svg' %}" alt="">
            </a>
            <a href="viber://add?number=%2B380631450099" target="_blank" class = "url-viber url-icon">
                <img class = "url-icon" src="{% static 'main/images/icons/viber.svg' %}" alt="">
            </a>
        </div>
        <form action="">
        <div class = "review-form">
                {% for field in form %}
                    {% if field.field.widget.input_type == "file" %}
                        <label for="id_photo" class = "field-image">
                            <img class = "icon-field" src="{% static 'main/images/icons/field.svg'%}" alt="">
                            <h1 class = "title-field">Прикріпити фото</h1>
                        </label>    
                        <input type="file" id="id_photo"  accept="image/*" hidden>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
            </div>
        </form>
        <div class = "buttons">
            <button class = "button Apply-for-consultation first-button">
                НАДІСЛАТИ
            </button>
            <button class = "button button-next"> 
                <img class = "button-image" src="{% static 'main/images/buttons/button_next.svg' %}" alt="">
            </button>
        </div>
    </div>
</div>