{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'email/css/email.css' %}">
{% endblock %}
{% block content %}
    <h1 class = "email-title">Користувач {{ order.username }} замовив консультацію</h1>
    <p class = "contact-info">Контактні дані користувача:</p>

    <p class = "info-text">📞 Номер телефону: {{ order.phone_number }}</p>
    <p class = "info-text">📧 Електронна пошта: {{ order.email }}</p>
    <p class = "info-text">💬 Побажання: {{ order.wish }}</p>
{% endblock%}