{% load static %}

<div class = "consultation-form hidden">
    <div class = "header-form">
        <h1 class = "header-form-title">Замовлення консультації</h1>
        <h2 class = "header-form-attention">Ця послуга є платною</h2>
    </div>
    <div class = "main-content-form">
        <div class = "main-form">
            <form class = "form-fields-and-button" enctype="multipart/form-data">
                <div class = "first-step laptop-form-step">
                    <div class = "step-title-container">
                        <h1 class = "step-title">1. Заповнення форми</h1>
                        <img class = "arrow-form second-arrow" src="{% static 'main/images/buttons/arrow_form.svg'%}" alt="">
                    </div>
                        <div class = "form-fields">
                            <input type="text" value = "{{ order.username }}" class = "input-form modal-name input-modal-form" placeholder="Ім'я та прізвище" name = "name" required>
                            <input type="tel" value = "{{ order.phone_number }}" class = "input-form modal-phone input-modal-form" placeholder="Номер телефону" name = "phone" required>
                            <input type="email" value = "{{ order.email }}" class = "input-form modal-email input-modal-form" placeholder="Пошта" name = "email" required>
                            <input type="file" value = "{{ order.wish }}" id="idPhoto" class="input-form modal-photos input-modal-form hidden" name="photos" accept="image/*" multiple required
                                >
                            <label class = "input-form input-image" for = "idPhoto">
                                <img class = "apply-photo-image" src="{% static 'main/images/icons/field.svg'%}" alt="">
                                <span class = "apply-photo">Прикріпити фото</span>
                            </label>
                            <textarea type="text" class = "input-form modal-wish" placeholder="Побажання до підбору"></textarea>
                        </div>
                </div>
                <button class = "button-send button-send-modal-form hidden" type = "submit">НАДІСЛАТИ</button>
            </form>
            <div class = "second-step hidden laptop-form-step">
                <div class = "step-title-container">
                    <h1 class = "step-title">2. Оплата послуги</h1>
                    <img class = "arrow-form first-arrow" src="{% static 'main/images/buttons/arrow_form.svg'%}" alt="">
                </div>
                <div class = "payment-buttons">
                    <div class = "button-of-pay mono-button">
                        <img class = "payment-image" src="{% static 'main/images/buttons/mono.svg' %}" alt="">
                    </div>                                    
                    <form method="POST" accept-charset="utf-8" target="_blank" action="https://www.liqpay.ua/api/3/checkout">
                        <input type="hidden" name="data" value="{{ data}}" />
                        <input type="hidden" name="signature" value="{{ signature}}"/>         
                        <button class = "button-of-pay liqpay-button">
                            <img class = "payment-image"src="{% static 'main/images/buttons/privat.svg'%}" alt="">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class = "photos-container">
            {% if order %}
                {% for photo in order.files %}
                    <img src="{{ photo }}" alt="">
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% if order %}
    <div class = "modal-success">
        <h1 class = "modal-success-title">Дякуємо за замовлення!<br> Лист успішно надіслано на пошту мастеру!</h1>
        <h2 class = "modal-success-description">*Вам також надіслано копію листа на вашу пошту</h2>
    </div>
{% endif %}