@font-face {
  font-family: 'Gella Display';
  src: url('../fonts/Slava Antipov - GellaDisplay-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/static/Cormorant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bad Script';
  src: url('../fonts/Bad_Script/BadScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playfair';
  src: url('../fonts/Playfair/Playfair-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Cormorant", serif;
    color: white;
    scrollbar-width: none;
    overflow-y: scroll;
}
body{
    background-color: rgba(26, 28, 25, 1);

}
@media (width > 767px){
    .bg-image{
        width: 50%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        left: calc(19vw + 65vh);  
        z-index: 0;
    }
    .frame-hat{
        position: relative;
        padding: calc(0.9vw + 1.7vh) calc(1vw + 1.9vh);
        display: flex;
        flex-direction: column;
        gap: calc(0.5vw + 0.9vh);
        z-index: 2;
    }
    .hat{
        display: flex;
        justify-content: space-between;
    }
    .title-hat{
        font-size: calc(1.5vw + 1.4vh);
        font-family: "Playfair", serif;
    }
    .grey-title-hat{
        color: rgba(200, 184, 168, 1);
    }
    .button-menu{
        all: unset;
        font-size: calc(1vw + 1vh);
    }
    .button-menu:hover{
        color: rgb(96, 96, 96);
        cursor: pointer;
    }
    .ideal-hair-for-you{
        font-size: calc(4vw + 3.5vh);
        position: absolute;
        top: calc(5.3vw + 9.6vh);
        width: 50%;
        text-align: center;
        font-weight: 600;
    }
    .coloration{
        font-family: "Bad Script", cursive;
        font-size: calc(1vw + 1.2vh);
        font-weight: 400;
        font-style: italic;
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end; 
        top: 0px;
        padding: calc(1vw + 1vh) calc(2.2vw + 1vh);
    }
    .frame-consultation{
        position: absolute;
        top: calc(24vw + 30.2vh);
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(0.6vw + 1.1vh);
    }
    .title-button-consultation{
        font-size: calc(1.5vw + 1.2vh);
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-style: regular;
    }
    .Apply-for-consultation{
        width: calc(26vw + 20vh);
        height: calc(2.5vw + 2vh);
        color: rgba(93, 61, 34, 1);
        font-size: calc(1vw + 0.7vh);
        font-style: medium;
        font-family: "Inter", sans-serif;
    }
    .button{
        background-color: rgba(200, 184, 168, 1);
        border-radius: calc(2.6vw + 4.5vh);
        border: calc(0.03vw + 0.05vh);
        font-style: medium;
        font-weight: 500;
    }

    .first-button:hover{
        background-color: rgb(179, 152, 125);
        cursor: pointer;
        color:  rgb(95, 56, 25);
    }
    .button-green-consultation:hover{
        background-color: rgb(32, 37, 29);
        cursor: pointer;
        color: rgb(137, 138, 137);;
        
    }
    .button-green:hover{
        background-color: rgb(32, 37, 29);
        cursor: pointer;
    }
    .button-image{
        height: calc(2.5vw + 2vh);    
    }
    .buttons{
        display: flex;
    }
    .main-frame{
        margin-top: calc(31vw + 55vh);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: calc(8vw + 2vh);
    }
    .description-frame{
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: calc(1vw + 1vh);
    }
    .frame-description-titles{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(1vw + 0.7vh);
    }
    .main-title-description{
        font-weight: 500;
        text-align: center;
        font-style: medium;
        font-size: calc(2vw + 4vh);
    }
    .coloration-text{
        font-size: calc(1vw + 1.2vh);
        font-weight: 500;
        text-align: center;
        font-family: 'Inter', sans-serif;
    }
    .image-people-first{
        width: calc(20vw + 26.6vh);
        height: calc(23vw + 37vh);
    }
    .choosing-color{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(1.5vw + 3vh);
    }
    .description-choosing-color{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(0.7vw + 1.5vh);
    }
    .title-choose-color{
        font-weight: 500;
        font-size: calc(2vw + 4vh);
    }
    .description-choose-color{
        text-align: center;
        font-size: calc(1vw + 1.2vh);
        font-weight: 400;
        font-family: 'Inter', sans-serif;
    }
    .choosing-color-steps{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding:  0px calc(1vw + 3vh);
    }
    .step{
        display: flex;
        flex-direction: column;
        width: calc(20vw + 22vh);
        background-color: rgba(103, 111, 99, 1);
        border-radius: calc(0.2vw + 0.4vh);
        padding: calc(0.5vw + 1vh);
        gap: calc(0.5vw + 1vh);
    }
    .number-of-step{
        color: rgba(255, 255, 255, 0.5);
        font-size: calc(2vw + 4vh);
        font-family: 'Gella Display', sans-serif;
        font-weight: 300;
    }
    .title-step{
        font-size: calc(0.7vw + 1.2vh);    
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
    .description-step{
        color: rgba(255, 255, 255, 0.5);
        font-weight: 100;
        font-style: italic;
        font-family: 'Inter', sans-serif;
        line-height: 130%;
        font-size: calc(0.8vw + 1.2vh);
    }
    .button-green{
        background-color: rgba(26, 28, 25, 1);
        border-color: white;
        height: calc(2.5vw + 2vh);
        font-size: calc(1vw + 0.7vh);
        font-style: medium;
        font-family: "Inter", sans-serif;
    }
    .button-green-consultation{
        border: calc(0.03vw + 0.05vh) white solid;
        width: calc(26vw + 20vh);
    }
    .buttons-choose-color{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-next{
        height: calc(2.5vw + 2vh);
    }
    .reason-hair{
        display: flex;
        gap: calc(0.5vw + 1vh);
    }
    .reason-image{
        width: 45%;
        height: 100%;
    }
    .reasons{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 55%;
        justify-content: center;
        gap: calc(1vw + 1vh);
    }
    .why-2-days{
        text-align: center;
        font-size: calc(2vw + 4vh);
        font-weight: 500;
        font-style: medium;
    }
    .days-title{
        font-size: calc(1.1vw + 1vh);
        font-weight: 400;
        font-family: 'Inter', sans-serif;
    }
    .days-description{
        text-align: center;
        font-size: calc(0.7vw + 1.2vh);
        font-weight: 400;
        font-family: 'Inter', sans-serif;
    }
    .result{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(0.5vw + 1vh);
    }
    .result-title{
        display: flex;
        flex-direction: column;
        gap: calc(0.5vw + 1vh);
        align-items: center;
    }
    .result-h1{
        font-weight: 500;
        font-size: calc(2vw + 4vh);
    }
    .result-description{
        font-size: calc(0.9vw + 1.2vh);
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
    .result-body{
        display: flex;
        flex-direction: column;
        gap: calc(1.1vw + 1vh);
    }
    .result-text{
        width: calc(50vw + 10vh);
        height: calc(9.7vw + 8vh);
        background-color: rgba(103, 111, 99, 1);
        padding: calc(0.9vw + 1vh);
        display: flex;
        flex-direction: column;
        gap: calc(0.5vw + 1vh);
        border-radius: calc(0.3vw + 1vh);
    }
    .result-text-h1{
        font-size: calc(1vw + 1.2vh);
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
    .result-text-description{
        font-size: calc(0.8vw + 1.2vh);   
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.5);
    }
    .result-photos{
        display: flex;
        justify-content: center;
        gap: calc(0.1vw + 0.2vh);
    }
    .people-example{
        width: calc(25vw + 4.5vh);
    }
    .button-circle{
        all: unset;
    }
    .result-buttons{
        display: flex;
        justify-content: center;
        width: calc(50vw + 10vh);
        gap: calc(1vw + 2vh);
    }
    .my-bio{
        display: flex;
        gap: calc(1vw + 1vh);
        align-items: center;
    }
    .my-bio-info{
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(3vw + 3vh);
    }
    .my-photo{
        width: 45%;

    }
    .my-bio-frame{
        display: flex;
        flex-direction: column;
        gap: calc(1vw + 1vh);
        align-items: center;
    }
    .my-name{
        font-size: calc(1vw + 4vh);
        font-weight: 500;
    }
    .my-work{
        font-size: calc(0.6vw + 1vh);
        font-weight: 400;
        font-family: 'Inter', sans-serif;
        text-align: center;
    }
    .my-expereance{
        font-size: calc(0.6vw + 1vh);
        font-weight: 100;
        font-family: 'Inter', sans-serif;
    }
    .highlighted{
        font-size: calc(2vw + 2vh);
        font-weight: 600;
    }
    .others-opinion{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(1.1vw + 1vh);
    }
    .hat-opinion{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(1vw + 1vh);
    }
    .hat-opinion-title{
        font-size: calc(2vw + 4vh);
        font-weight: 500;
        font-style: medium;
    }
    .hat-opinion-description{
        font-size: calc(1vw + 1vh);
        font-weight: 400;
        text-align: center;
    }
    .opinion-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(1.2vw + 1vh);
    }
    .body-opinion{
        width: calc(50vw + 90vh);
        border-radius: calc(1vw + 1vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: calc(1vw + 2vh) calc(5vw + 10vh) ;
        background-color: rgba(103, 111, 99, 1);
    }
    .quotes{
        width: 100%;
        text-align: start;
    }
    .second-qoute{
        transform: rotate(180deg);
    }
    .opinion-text{
        margin: calc(0.5vw + 1vh) calc(1vw + 2vh);
    }
    .opinion-review{
        text-align: center;
        font-size: calc(1vw + 1.7vh);
        font-weight: 300;
        font-family: 'Inter', sans-serif;
    }
    .quote{
        width: calc(1vw + 2vh);
    }
    .opinion-name{
        font-size: calc(1vw + 3vh);
        font-family: "Playfair", sans-serif;
        font-style: italic;
        font-weight: 600;
    }
    .review-frame{
        width: 100%;
        height: 100%;
        margin-top: calc(8vw + 2vh);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../../images/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .review{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: calc(1.5vw + 3vh);
        z-index: 1;
    }
    .blur-bg{
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
    }
    .review-hat{
        display: flex;
        flex-direction: column;
        gap: calc(1vw + 1vh);
    }
    .review-hat-title{
        font-size: calc(1.5vw + 3vh);
        font-weight: 400;
        font-family: 'Inter', sans-serif;
    }
    textarea,input{
        resize: none;
        height: calc(2vw + 2vh);
        width: calc(37vw + 20vh);
        border-radius: 100px;
        padding:  calc(0.35vw + 0.5vh) calc(0.8vw + 1vh);
        font-size: calc(0.8vw + 1vh);
        font-family: 'Inter', sans-serif;
        color: rgba(93, 61, 34, 0.7);
        border: none;
        background-color: rgba(255, 255, 255, 0.6);
    }
    ::placeholder{
        color: rgba(93, 61, 34, 0.7);
    }
    .review-hat-description{
        text-align: center;
        font-size: calc(0.5vw + 1.5vh);
        font-weight: 400;
        font-family: 'Inter', sans-serif;    
    }
    a{
        all: unset;
    }
    .contact-icons{
        display: flex;
        gap: calc(0.9vw + 1vh);
    }
    .url-icon{
        width: calc(2vw + 2vh);
    }
    .review-form{
        display: flex;
        flex-direction: column;
        gap: calc(1vw + 1vh);
    }
    .field-image{
        resize: none;
        height: calc(2vw + 2vh);
        width: calc(37vw + 20vh);
        border-radius: 100px;
        padding-left: calc(0.5vw + 1vh) ;
        padding-top: calc(0.55vw + 0.5vh);
        font-size: calc(0.8vw + 1vh);
        font-family: 'Inter', sans-serif;
        color: rgba(93, 61, 34, 0.7);
        border: none;
        display: flex;
        gap: calc(0.3vw + 0.5vh);
        background-color: rgba(255, 255, 255, 0.6);
    }
    .icon-field{
        width: calc(1vw + 1vh);
        height: calc(1vw + 1vh);
    }
    .title-field{
        font-size: calc(0.8vw + 1vh);
        font-family: 'Inter', sans-serif;
        color: rgba(93, 61, 34, 0.7);
        font-weight: 400;
        overflow: visible;
    }
    .modal-hat-frame{
        margin-top: calc(0.3vw + 0.5vh);
        width: 50%;
        height:calc(2.5vw + 5vh);
        background-color: wheat;
        z-index: 3;
        position: fixed;
        margin-left: 49%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(0.5vw + 0.7vh);
        background-color: rgba(103, 111, 99, 0.2);
        border-radius: 100px;
        border: rgba(63, 66, 62, 0.2) calc(0.03vw + 0.05vh) solid;
    }
    .modal-url{
        font-size: calc(0.5vw + 1vh);
    }
    .modal-apply-for{
        height: calc(2vw + 1.5vh);
        width: calc(10vw + 10vh);
        background-color: white;
        color:Ñ„ black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: rgba(78, 49, 33, 1) calc(0.03vw + 0.05vh) solid;
    }
    .hidden{
        display: none;
    }
    .image-cross{
        width: calc(1vw + 1vh);
    }
    .button-cross:hover{
        cursor: pointer;
    }

}
