@font-face {
  font-family: 'Gella Display';
  src: url('../fonts/Slava Antipov - GellaDisplay-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/static/Cormorant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bad Script';
  src: url('../fonts/Bad_Script/BadScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playfair';
  src: url('../fonts/Playfair/Playfair-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (width < 767px){
    *{
        color: rgba(26, 26, 26, 1);
    }
    body{
        background-color: rgba(249, 244, 233, 1);
    }
    .hidden{
        display: none;
    }
    .frame-hat{
        position: relative;
        padding: 10px 16px;
        display: flex;
        flex-direction: column;
        gap: calc(0.5vw + 0.9vh);
        z-index: 2;
    }
    .hat{
        display: flex;
        justify-content: space-between;
    }
    .title-hat{
        font-size: 25px;
        font-family: "Playfair", serif;
        color: rgba(26, 26, 26, 1);
    }
    .green-title-hat{
        color: rgba(32, 83, 68, 1);
        font-family: "Cormorant", serif;
    }
    .button-menu{
        all: unset;
        font-size: 14px;
        color: rgba(26, 26, 26, 1);
    }
    .button-menu:hover{
        color: rgb(96, 96, 96);
        cursor: pointer;
    }
    .coloration-phone{
        display: flex;
        flex-direction: column;
        gap: 36px;
        align-items: center;
        padding-top: 18px;
    }
    .coloration-part1{
        font-size: 30px;
    }
    .coloration-part2{
        color: rgba(32, 83, 68, 1);
        font-size:30px;
        text-align: end;
        width: 85%;
    }
    .bg-phone{
        width: 100%;
        position: absolute;
        z-index: -1;
        height: 270px;
    }
    .about-me-start{
        margin-top: calc(5vw + 3vh);
        position: relative;
        overflow-y: hidden;
    }
    .blur-bg{
        width: 100%;
        height: 270px;
        background-color: rgba(255, 255, 255, 0.05);
        position: absolute;
        z-index: 0;
    }
    .about-me-on-image{
        display: flex;
        flex-direction: column;
        padding:calc(4vw + 2vh) calc(2vw + 1vh);
    }
    .about-me-greetings{
        color: white;
        font-size: 24px;
        font-weight: 600;
    }
    .about-me-start-description{
        color: white;
        font-size: 16px;
        font-weight: 400;
        font-family: "Inter", serif;
    }
    .about-me-start-count{
        color: white;
        font-family: "Inter", serif;
    }
    .about-me-on-image{
        display: flex;
        flex-direction: column;
        gap: 81px;
    }
    .button-green-consultation{
        width: 296px;
        height: 45px;
        color: white;
        font-size: 16px;
        font-style: medium;
        font-family: "Inter", sans-serif;
        font-weight: 400;
    }
    .button{
        background-color: rgba(32, 83, 68, 1);
        border-radius: calc(2.6vw + 4.5vh);
        border: calc(0.03vw + 0.05vh);
        font-style: medium;
        font-weight: 500;

    }
    .buttons-choose-color{
        display: flex;
        justify-content: center;
        width: 100%;

    }
    .button-next-phone{
        width: 45px;
        height: 45px;
    }
    .my-help{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .main-frame{
        margin-top: 81px;
        display: flex;
        flex-direction: column;
        gap: 120px;
    }
    .description-frame{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0px 16px;
        align-items: center;
    }
    .frame-description-titles{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        width: 100%;
    }
    .main-title-description{
        font-weight: 600;
        font-size: 26px;
    }
    .coloration-text{
        font-size: 16px;
        font-weight: 400;
        font-family: "Inter", sans-serif;
    }
    .choosing-color-all{
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 8px 16px;
    }
    .choosing-color{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .choosing-color-title{
        font-size: 26px;
        font-weight: 600;
    }
    .choosing-color-description{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .choosing-color-details{
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
    .choosing-color-images{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        align-items: center;
    }
    .choosing-color-image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .choosing-image{
        width: 84px;
        height: 84px;
    }
    .choosing-title{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
        color: rgba(26, 26, 26, 0.5);
    }
    .choosing-color-steps{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .step{
        display: flex;
        flex-direction: column;
        gap: 25px;
        background-color: rgba(32, 83, 68, 1);
        border-radius: 10px;
        padding: 16px 8px;
    }
    .number-of-step{
        color: rgba(255, 255, 255, 0.5);
        font-size: 36px;
        font-weight: 600;
    }
    .title-step{
        color: white;
        font-weight: 500;
        font-style: medium;
        font-size: 16px;
        line-height: 130%;
        font-family: 'Inter', sans-serif;
    }
    .description-step{
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.5);
    }
    .button-consultation{
        width: 310px;
        height: 45px;
        color: rgba(32, 83, 68, 1);
        font-size: 16px;
        font-style: medium;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        border-radius: 100px;
        border: 1px solid rgba(32, 83, 68, 1);
        background-color: rgba(249, 244, 233, 1);
    }
    .button-next{
        border-radius: 100px;
        border: 1px solid rgba(32, 83, 68, 1);
        width: 45px;
        height: 45px;
        background-color: rgba(249, 244, 233, 1);
    }
    .people-example-phone{
        display: flex;
        gap: 0px;
    }
    .people-photo-example{
        width: 190px;
        z-index: 0;
        position: relative;
    }
    .before-and-after{
        margin-left:10px;
        position: absolute;
        top: 365px;
        z-index: 1;
        height: 39px;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        width: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        color: rgba(32, 83, 68, 1);
        font-family: "Inter", sans-serif;
        font-weight: 400;
    }
}