{% extends 'base.html' %}
{% load static %}

{% block title %}
    Ідеальне волосся для тебе!
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main_for_phone.css' %}">
{% endblock %}

{% block content %}
    <div class = "design-for-laptop hidden scroll-wrapper">
        {% include "main/laptop/first_block/first_block.html" %}
        <div class = "main-frame scroll-wrapper">
            {% include "main/laptop/second_block/second_block.html" %}
            {% include "main/laptop/third_block/third_block.html" %}
            {% include "main/laptop/fourth_block/fourth_block.html" %}
            {% include "main/laptop/fifth_block/fifth_block.html" %}
            {% include "main/laptop/sixth_block/sixth_block.html" %}
            {% include "main/laptop/seventh_block/seventh_block.html" %}
        </div>
        {% include "main/laptop/consultation_form/consultation_form.html"%}
        <div class = "blur-payload-bg hidden"></div>
        {% include "main/laptop/modal_consultation_form/modal_consultation_form.html" %}
        {% include "main/laptop/modal_reason/modal_reason.html" %}
    </div>
    <div class = "design-for-phone hidden">
        <img src="{% static 'main/images/buttons/arrow_scroll.png'%}" class = "phone-scroll-button" alt="">
        {% include "main/phone/modal_urls/modal_urls.html" %}
        <div class = "main-frame">
            {% include "main/phone/first_block/first_block.html" %}
            {% include "main/phone/second_block/second_block.html" %}
            {% include "main/phone/third_block/third_block.html" %}
            {% include "main/phone/fourth_block/fourth_block.html" %}
            {% include "main/phone/fifth_block/fifth_block.html" %}
            {% include "main/phone/sixth_block/sixth_block.html" %}
            {% include "main/phone/seventh_block/seventh_block.html" %}
            {% include "main/phone/modal_consultation_form/modal_consultation_form.html" %}
        </div>
        <div class = "review-frame block block-scroll">
            {% include "main/phone/consultation_form/consultation_form.html" %}
        </div>
        {% include "main/phone/modal_reason/modal_reason.html"%}
        <div class = "blur-payload-bg hidden"></div>
    </div>
{% endblock %}
{% block script %}
    <script src = "{% static 'main/js/main.js' %}"></script>
    <script src = "{% static 'main/js/check_arrow_button.js' %}"></script>
    <script src = "{% static 'main/js/jquery-3.7.1.min.js'%}"></script>
    <script src = "{% static 'main/js/check_comment.js' %}"></script>
    <script src = "{% static 'main/js/check_comment_phone.js' %}"></script>
    <script src = "{% static 'form/js/mono.js'%}"></script>
    <script src = "{% static 'main/js/check_inputs.js' %}"></script>
    <script src = "{% static 'main/js/photos.js' %}"></script>
    <script src = "{% static 'main/js/open_modal_phone.js'%}"></script>
    <script src = "{% static 'main/js/inputs_data.js'%}"></script>
{% endblock %}